<form action="<%= demo_path(:postdemo) %>" enctype="multipart/form-data" method="post">
  <input type="hidden" name="_method" value="POST">
  <input type="file" name="file">
  <input type="submit" value="Subir">
</form>
